* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100vh;
  /* background-color: #edf6f6; */
}

.icons {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.facebk {
  display: flex;
  padding: 8px;
  gap: 5px;
}

.search {
  display: flex;
  padding: 8px;
  gap: 5px;

}

.tastebite {
  text-align: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.menu span {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  color: #312f2f;
  font-family: sans-serif;
  font-weight: 600;
}

.landingimage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 500px; */
}

.landingimage img {
  position: relative;
  width: 100%;
}

.landingimage h1 {
  display: flex;
  position: absolute;
  padding-top: 200px;
  color: #f4eded;
  font-size: 25px;
  font-weight: 800;
  font-family: sans-serif;
}

.popularcategory {
  padding-top: 30px;
  width: 95%;
  margin: 0 auto;
}

h2 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.categoryimages {
  display: flex;
  gap: 0.5rem;
}

.imagetitle {
  width: 20%;
}

.imagetitle img {
  width: 100%;
  border-radius: 50%;
}

.favorites {
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
  width: 95%;
} 

span {
  font-size: 10px;
}

.carousel {
  width: 95%;
  background-color: fff;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
  /* overflow: hidden; */
}

.top img {
  width: 80%;
}

.imagetitl {
  width: 15%;
  display: flex;
  padding-top: 20px;
}

/* .imagetitl img {
  width: 100%;
} */

#delicious {
  padding-top: 30px;
}

.fa-solid {
  color: #ffa500;
}

.date {
  padding-top: 30px;
  display: flex;
  gap: 10px;
  font-size: 8px;
  color: #999393;
  margin-left:  110px;
}

p {
  font-size: 14px;
  font-family: sans serif;
}

#super {
  padding-top: 30px;
  padding-bottom: 30px;
}

.recipe {
  padding-top: 30px;
  padding-bottom: 30px;
}

.latest {
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
  width: 95%;
}

.latestrecipe {
  width: 95%;
  background-color: fff;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
}

.latest {
  width: 95%;
}

.bestmeal img {
  width: 80%;
}